.button_pane.cf.mbot_10
  %a.btn.btn_grey.right.mright_10{:href => room_room_bookings_path(@room)}
    %i.fa.fa-long-arrow-left>
    Back
%section.panel
  .panel_heading
    New Booking
  = render "form"

